.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  font-size: 3rem;
  color: #1890ff;
}
