.container-pricing {
  .text-pricing {
    font-weight: 700;
    font-size: 20px;
  }
  .item-pricing {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .pricing-plans {
    .option {
      display: flex;
      flex-wrap: nowrap;
      gap: 16px;

      .ant-card {
        flex: 1 1 30%;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      .ant-card-head {
        background-color: #f5f5f5;
      }
      .price-title {
        font-weight: 700;
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 10px;
      }
      .content-item-price {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
      }
      .ant-empty {
        margin: 0 auto;
      }
    }
    .isCheck {
      display: block;
      margin: 20px 0;
      .ant-switch-checked {
        background-color: #ffc225 !important;
      }
      .text-yellow {
        color: #ffc225;
      }
    }
  }

  .compare {
    h2 {
      font-weight: 700;
      margin: 40px 0 20px 0;
    }

    .content-compare-pricing {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .content-app {
        flex: 1 1 calc(50% - 20px);
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 6px;
        box-shadow:
          rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
          rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        .app {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 25%;
          .app-icon-pricing {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
              border-radius: 4px;
            }
            .info {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 10px;
              .text-app {
                font-weight: 700;
                text-align: center;
              }
              .price-title {
                margin-top: 10px;
                font-weight: 600;
                color: #008000;
              }
            }
          }
          .app_name {
            margin-top: 10px;
            font-size: 16px;
            font-weight: bold;
            color: #333;
            text-align: center;
            span {
              font-weight: 700;
            }
          }
        }
        .trial {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          width: 40%;
          .free-trial {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            flex-direction: column;
            .text-pricing-app {
              font-weight: 700;
            }
            .icon-status {
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
          .options {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            gap: 10px;
            height: 100px;
            min-height: 110px;
            .text-pricing-app {
              font-weight: 700;
            }
            ul,
            li {
              margin: 0;
              padding: 0;
              list-style: none;
            }
            li {
              display: flex;
              align-items: center;
              flex-wrap: nowrap;
            }
          }
        }
        .action {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 30%;
          .btn-compare-detail {
            text-align: center;
            padding: 11px 0;
            color: #000000;
            border-radius: 4px;
            font-weight: 500;
          }
          .button-compare-app {
            background-color: #ffc225;
            background: #ffc225;
            border-color: #ffc225;
            .anticon-swap {
              margin-right: 7px;
            }
            &:hover {
              border-color: #f8da8e;
              background: #f8da8e;
            }
          }
          .button-add-app {
            background-color: #f4f4f4;
            color: #333;
            border: 1px solid #ccc;

            &:hover {
              background-color: #e0e0e0;
            }
          }
        }
      }

      .no-data-pricing {
        margin: 0 auto;
      }
    }
  }

  .pricing-option {
    margin: 30px 0;
    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }
    .text {
      font-weight: 700;
      font-size: 20px;
    }
    .content-trial {
      display: flex;
      align-items: flex-start;
      flex-wrap: nowrap;
      gap: 20px;

      .free-trial,
      .options {
        flex: 1;
      }

      .free-trial {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .options {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

@media (max-width: 800px) {
  .pricing-plans {
    .option {
      flex-direction: column;
    }
  }
}

@media (max-width: 800px) {
  .content-compare-pricing {
    .content-app {
      flex: 1 1 100% !important;
    }
  }
}

@media (max-width: 1024px) {
  .content-app {
    flex-direction: column !important;
    .app,
    .trial,
    .action {
      width: 100% !important;
    }
  }
}
