.verify {
  &-title {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
  }
  &-desc {
    text-align: center;
    color: #808080;
    margin-top: 20px;
    font-size: 15px;
  }
  &-button {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}
