.detail-top-growth-review {
  .detail-top-growth-review-body {
    .container-title-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .sort {
        display: flex;
        align-items: flex-end;
        margin-top: 40px;
        flex-wrap: wrap;
        .ant-space {
          cursor: pointer;
          &:hover {
            color: #ffc225;
          }
          .anticon-down {
            font-size: 13px;
          }
        }
        .ant-select-single {
          height: 39px;
        }
        .select-label {
          display: block;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 4px;
        }
      }
    }
    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
    .title {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .title-apps {
      font-size: 18px;
      color: #535353;
      margin-bottom: 10px;
    }
    .link {
      margin-top: 5px;
    }

    .item-detail {
      padding: 13px 0 13px 10px;
      border-top: 1px solid rgb(230, 230, 230);
      .highlights {
        display: flex;
        align-items: center;
        ul {
          margin-left: -15px;
        }
      }
      .rank {
        margin-top: 10px;
        span {
          border-radius: 10px;
          background: #343a3f;
          padding: 5px;
          padding-left: 12px;
          padding-right: 12px;
          color: white;
          font-weight: bold;
          font-size: 18px;
        }
      }
      .hightlights {
        font-size: 13px;
        padding: 3px 5px;
        border-radius: 4px;
      }
      .content-app {
        display: flex;
        .image {
          img {
            height: 75px;
            width: 75px;
            border-radius: 8px;
            &:hover {
              cursor: pointer;
            }
          }
        }

        .item-detail-app {
          margin-left: 15px;
          .tagline {
            margin-top: 5px;
          }
          .name-app-shopify {
            .link-name {
              font-size: 16px;
              &:hover {
                text-decoration: underline;
              }
            }
            .built-for-shopify {
              margin-left: 10px;
              border-radius: 4px;
            }
            .calular-incre {
              margin-right: 5px;
              color: white;
              background: #27a844;
              border-radius: 6px;
              padding: 3px;
              font-size: 12px;
            }
            .calular-decre {
              margin-right: 5px;
              color: white;
              background: #dc3544;
              border-radius: 6px;
              padding: 3px;
              font-size: 12px;
            }
          }
          .link-app-shopify {
            margin-top: 5px;
            &:hover {
              color: #40a2f8;
              text-decoration: underline;
            }
            .link {
              color: black;
              &:hover {
                color: #40a2f8;
              }
            }
          }
        }
      }
    }
    .ant-table-thead > tr > th {
      background-color: #d4d3d39f !important;
      .ant-table-column-title {
        font-weight: 500 !important;
        color: #000000 !important;
      }
    }
    ul {
      margin: 0;
      padding: 0 0 0 20px;
    }
  }
}

@media (max-width: 1366px) {
  .detail-top-growth-review {
    .detail-top-growth-review-body {
      .container-filter-range {
        .filter-apps {
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .detail-top-growth-review {
    .detail-top-growth-review-body {
      .container-filter-range {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .filter-apps {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          .select-growth-apps {
            margin: 10px 0;
          }
        }
      }
      .container-title-body {
        .sort {
          margin-top: 20px;
        }
      }
      .title-apps {
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 500px) {
  .detail-top-growth-review {
    .detail-top-growth-review-body {
      .pagination {
        .ant-pagination-total-text {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .detail-top-growth-review {
    .detail-top-growth-review-body {
      .container-filter-range {
        .dashboard-range {
          .ant-btn-primary {
            margin: 10px 0px 0px 0px !important;
          }
        }
      }
    }
  }
}
