.sitemap {
  .category-name {
    .item-name {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .collection-name {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
  }
  .developer-name {
    font-size: 19px;
    line-height: 28px;
  }
  .header-category {
    font-size: 32px;
    font-weight: 550;
    margin: 20px 0 0;
  }

  @media (max-width: 992px) {
    .list-item-categories {
      line-height: 25px;
    }
    .collection-name {
      line-height: 35px;
    }
  }
}
