.compare-apps-list {
  h1 {
    margin: 30px 0px;
  }
  .compare-section {
    margin-bottom: 20px;
    .app-container {
      position: relative;
      .app-list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        padding: 25px;
        border-radius: 8px;
        box-shadow:
          rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        .app-list-item {
          width: 100px;
          text-align: center;
          .app {
            display: flex;
            flex-direction: column;
            align-items: center;
            .image {
              position: relative;
              padding: 10px;
              border-radius: 8px;
              box-shadow:
                rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
                rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
              .icon-bfs {
                position: absolute;
                top: -7px;
                right: -7px;
                z-index: 10;
              }
            }
            .title-app {
              margin-top: 5px;
              .app-name {
                font-weight: 500;
                color: #000000;
              }
            }
          }
        }
      }
      .close-icon {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
        color: #ff0000;
        z-index: 10;
        cursor: pointer;
      }
    }
  }
}
