.detail-my-partner-body {
  .header-partner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .container-title-body {
      margin: 20px 0px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .title {
        margin-top: 0;
      }
    }
    .container-filter-range {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin: 20px 0;
      .filter-apps {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .btn-bfs {
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          padding: 10px 25px;
          border-radius: 20px;
          border: 1px solid #ccc;
          color: #000000;
          font-weight: 500;
          cursor: pointer;
          span {
            margin-left: 5px;
          }
          &:hover {
            border-color: #4096ff;
          }
        }
        .backlink-cms {
          color: #000000;
          span {
            margin-left: 5px;
          }
          .btn-backlink-cms {
            margin: 0 0 0 15px;
            padding: 10px 25px;
            border-radius: 20px;
            border: 1px solid #ccc;
            font-weight: 500;
            cursor: pointer;
            &:hover {
              border-color: #d8aa34;
            }
          }
        }
        .btn-add-app {
          margin: 0 0 0 15px;
          padding: 10px 25px;
          border-radius: 20px;
          border: 1px solid #ffc225;
          color: #000000;
          font-weight: 500;
          cursor: pointer;
          background-color: #ffc225;
          display: flex;
          align-items: center;
          .anticon-plus-circle {
            margin-top: -2px;
          }
          .text-btn-add {
            margin-left: 5px;
          }
          &:hover {
            border-color: #d8aa34;
            background-color: #d8aa34;
          }
        }
        .activeBFS {
          background: #e0f0ff;
          border-color: #4096ff;
        }
        .select-partner {
          margin: 0 0 0 15px;
          .ant-select-selection-item {
            font-weight: 500;
          }
        }
        .ant-select-single {
          height: 39px;
          &:focus-within {
            .ant-select-selector {
              border-color: #ffc225 !important;
            }
          }
          &:hover {
            .ant-select-selector {
              border-color: #ffc225 !important;
            }
          }
          .ant-select-selector {
            padding: 10px 25px;
            border-radius: 20px;
            border: 1px solid #ccc;
            color: #000000;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    a {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #000000;
      text-decoration: underline;
      &:hover {
        color: #7c7c7c;
      }
    }
  }
  .title-apps {
    font-size: 18px;
    color: #535353;
  }
  .link {
    margin-top: 5px;
  }

  .item-detail {
    padding: 13px 0 13px 10px;
    border-top: 1px solid rgb(230, 230, 230);
    .highlights {
      display: flex;
      align-items: center;
      ul {
        margin-left: -15px;
      }
    }
    .icon-star {
      color: #d8aa34;
      .calular-incre {
        margin-left: 5px;
        color: white;
        background: #27a844;
        border-radius: 6px;
        padding: 3px;
        font-size: 12px;
      }
      .calular-decre {
        margin-left: 5px;
        color: white;
        background: #dc3544;
        border-radius: 6px;
        padding: 3px;
        font-size: 12px;
      }
    }
    .rank {
      margin-top: 10px;
      span {
        border-radius: 10px;
        background: #343a3f;
        padding: 5px;
        padding-left: 12px;
        padding-right: 12px;
        color: white;
        font-weight: bold;
        font-size: 18px;
      }
    }
    .hightlights {
      font-size: 13px;
      padding: 3px 5px;
      border-radius: 4px;
    }
    .content-app {
      display: flex;
      .image {
        img {
          height: 75px;
          width: 75px;
          border-radius: 8px;
          &:hover {
            cursor: pointer;
          }
        }
      }

      .item-detail-app {
        margin-left: 15px;
        .tagline {
          margin-top: 5px;
        }
        .name-app-shopify {
          .link-name {
            font-size: 16px;
            &:hover {
              text-decoration: underline;
            }
          }
          .built-for-shopify {
            margin-left: 10px;
            border-radius: 4px;
          }
          .calular-incre {
            margin-right: 5px;
            color: white;
            background: #27a844;
            border-radius: 6px;
            padding: 3px;
            font-size: 12px;
          }
          .calular-decre {
            margin-right: 5px;
            color: white;
            background: #dc3544;
            border-radius: 6px;
            padding: 3px;
            font-size: 12px;
          }
        }
        .link-app-shopify {
          margin-top: 5px;
          &:hover {
            color: #40a2f8;
            text-decoration: underline;
          }
          .link {
            color: black;
            &:hover {
              color: #40a2f8;
            }
          }
        }
      }
    }
  }
  .ant-table-thead > tr > th {
    background-color: #d4d3d39f !important;
    .ant-table-column-title {
      font-weight: 500 !important;
      color: #000000 !important;
    }
  }
  ul {
    margin: 0;
    padding: 0 0 0 20px;
  }
  .select-partner {
    margin-bottom: 20px;
  }
}

.sync-partner-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 8px 24px,
    rgba(0, 0, 0, 0.1) 0px 16px 56px,
    rgba(0, 0, 0, 0.1) 0px 24px 80px;
  overflow: hidden;
  margin-top: 50px;
  padding-bottom: 30px;
  .content-sync {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
    img {
      border-radius: 8px;
    }
    .description-sync {
      margin: 20px 0;
      text-align: center;
      color: #333333;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.6;
      span {
        font-weight: 500;
      }
    }
  }
}

.ant-select-dropdown {
  .options-btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    .ant-btn {
      span {
        color: #ffc225;
      }
    }
    &:hover {
      .ant-btn {
        span {
          color: #f8da8e;
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  .detail-my-partner-body {
    .filter-apps {
      margin-top: 20px;
    }
  }
}

@media (max-width: 1024px) {
  .detail-my-partner-body {
    .header-partner {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .container-filter-range {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 0;
        width: 100%;
        .filter-apps {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
          .btn-bfs {
            width: 100%;
          }
          .select-partner {
            margin: 10px 0;
            width: 100%;
          }
          .btn-add-app {
            margin: 0 0 10px 0;
            width: 100%;
          }
          .btn-backlink-cms {
            margin: 0 0 10px 0;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .detail-my-partner-body {
    .pagination {
      .ant-pagination-total-text {
        display: none;
      }
    }
  }
}

@media (max-width: 450px) {
  .detail-my-partner-body {
    .container-filter-range {
      .dashboard-range {
        .ant-btn-primary {
          margin: 10px 0px 0px 0px !important;
        }
      }
    }
  }
}
