.dashboard {
  margin-top: 20px;

  &-range {
    margin-top: 10px;
  }

  &-title {
    font-size: 26px;
    font-weight: 500;
  }

  &-tabs {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
  }

  &-tab {
    height: 150px;
    padding: 20px 0 0 40px;

    h2 {
      font-size: 40px;
    }
  }

  &-content {
    .total-day {
      width: 63%;
      @media (max-width: 1680px) {
        width: 49%;
      }
      @media (max-width: 992px) {
        width: 100%;
      }
    }

    .percent-chart {
      width: 35%;
      @media (max-width: 1680px) {
        width: 49%;
      }
      @media (max-width: 992px) {
        width: 100%;
      }
    }

    .chart-desc {
      font-size: 14px;
      color: #5a6a85;
    }

    .location-chart {
      width: 49%;
      @media (max-width: 992px) {
        width: 100%;
      }
    }

    .chart-title {
      font-size: 22px;
      font-weight: 500;
      color: #2a3547;
    }

    .content-chart-reviews {
      border-radius: 6px;
      box-shadow:
        rgba(87, 94, 100, 0.2) 0px 0px 2px 0px,
        rgba(87, 94, 100, 0.2) 0px 12px 24px -4px;
      padding: 20px;
      margin-top: 30px;
    }
    .content-review-chart {
      border-radius: 6px;
      box-shadow:
        rgba(87, 94, 100, 0.2) 0px 0px 2px 0px,
        rgba(87, 94, 100, 0.2) 0px 12px 24px -4px;
      padding: 20px;
      margin-top: 30px;
      height: 500px;
    }
  }

  .dashboard-range {
    display: flex;
    align-items: center;
  }
}
