.container-detail-app {
  .content-app {
    .info-app {
      position: -webkit-sticky;
      position: sticky;
      top: 75px;
      z-index: 20;
    }
    .ant-tabs {
      position: -webkit-sticky;
      position: sticky;
      top: 175px;
      z-index: 20;
      background-color: rgb(255, 255, 255);
    }
    .tabs-app {
      .ant-tabs-tab {
        &.ant-tabs-tab-active {
          .ant-tabs-tab-btn {
            color: #ffc225 !important;
          }
        }
        .ant-tabs-tab-btn {
          color: #0b1d46;
        }
      }

      .ant-tabs-ink-bar {
        background: #ffc225 !important;
      }
    }
  }
}

@media (max-width: 1024px) {
  .info-app {
    top: 0 !important;
  }
  .ant-tabs {
    top: 98px !important;
  }
  .option {
    flex-wrap: wrap !important;
    gap: 47px !important;
  }
}

@media (max-width: 800px) {
  .info-app {
    top: 0 !important;
    padding-right: 3px !important;
    padding-left: 3px !important;
  }
  .tabs-app {
    padding-right: 3px !important;
    padding-left: 3px !important;
    .ant-tabs {
      top: 225px !important;
    }
  }
}
