.modal-key {
  .popup-add-competitor {
    .list-key-hidden {
      .detail-position {
        .calular-incre {
          margin-left: 5px;
          color: white;
          background: #27a844;
          border-radius: 6px;
          padding: 3px;
          font-size: 12px;
        }
        .calular-decre {
          margin-left: 5px;
          color: white;
          background: #dc3544;
          border-radius: 6px;
          padding: 3px;
          font-size: 12px;
        }
      }

      .action-popup-keyword {
        .add-keyword {
          cursor: pointer;
          font-size: 18px;
        }
      }
    }
  }
}
